<div class="row justify-content-center">
  <div class="col-md-4 register-employee">
    <!-- form card register -->
    <div class="card card-outline-secondary">
      <div class="card-header">
        <h3 class="mb-0">Edit Employee</h3>
      </div>
      <div class="card-body">
        <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="inputName">Product Name</label>
            <input class="form-control" type="text" formControlName="name" />
            <!-- error -->
            <div
              class="invalid-feedback"
              *ngIf="submitted && myForm['name'].errors?.['required']"
            >
              Product Name is required.
            </div>
          </div>

          <div class="form-group">
            <label for="inputName">Brand</label>
            <input class="form-control" type="text" formControlName="brand" />
            <!-- error -->
            <div
              class="invalid-feedback"
              *ngIf="submitted && myForm['brand'].errors?.['required']"
            >
              Enter brand name
            </div>

          </div>

          <div class="form-group">
            <label for="inputName">SKU</label>
            <input class="form-control" type="text" formControlName="sku" />
            <!-- error -->
            <div
              class="invalid-feedback"
              *ngIf="submitted && myForm['sku'].errors?.['required']"
            >
              Enter sku.
            </div>
          </div>

          <div class="form-group">
            <label for="inputName">URL</label>
            <input class="form-control" type="text" formControlName="url" />

          </div>

          <div class="form-group">
            <label for="inputName">Description</label>
            <input
              class="form-control"
              type="text"
              formControlName="description"
            />
          </div>
          <div class="form-group">
            <label for="inputName">Category</label>
            <select
              class="custom-select form-control"
              (change)="updateProfile($event.target.value)"
              formControlName="category"
            >
              <option value="">Choose...</option>
              <option
                *ngFor="let category of Categories"
                value="{{ category._id }}"
              >
                {{ category.category }}
              </option>
            </select>
            <!-- error -->
            <div
              class="invalid-feedback"
              *ngIf="submitted && myForm['category'].errors?.['required']"
            >
              Choose category.
            </div>
          </div>

          <div class="form-group">
            <label for="inputVerify3">Price</label>
            <input class="form-control" type="text" formControlName="price" />
            <!-- error -->
            <div
              class="invalid-feedback"
              *ngIf="submitted && myForm['price'].errors?.['required']"
            >
              Enter your product price.
            </div>
            <div
              class="invalid-feedback"
              *ngIf="submitted && myForm['price'].errors?.['pattern']"
            >
              Enter Numbers Only
            </div>
          </div>

          <div class="form-group">
            <label for="inputVerify3">Weight</label>
            <input class="form-control" type="text" formControlName="weight" />
            <!-- error -->
            <div
              class="invalid-feedback"
              *ngIf="submitted && myForm['weight'].errors?.['required']"
            >
              Enter your product weight.
            </div>
            <div
              class="invalid-feedback"
              *ngIf="submitted && myForm['weight'].errors?.['pattern']"
            >
              Enter Numbers Only
            </div>
          </div>

          <div class="form-group">
            <button class="btn btn-success btn-lg btn-block" type="submit">
              Update
            </button>
          </div>
        </form>
      </div>
    </div>
    <!-- form  -->
  </div>
</div>
