<div class="row justify-content-center">
  <div class="col-md-4 register-employee">
    <!-- form card register -->
    <div class="card-body">
      <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="inputName">Category Name</label>
          <input class="form-control" type="text" formControlName="category" />
          <!-- error -->
          <div class="invalid-feedback" *ngIf="submitted && myForm['category'].errors?.['required']">
            Category Name is required.
          </div>
        </div>

        <div class="form-group">
          <button class="btn btn-success btn-lg btn-block" type="submit">
            Update
          </button>
        </div>
      </form>
    </div>
  </div>
  <!-- form card register -->
</div>