<div class="container">
  <!-- No data message -->

  <p *ngIf="Loading && categories.length <= 0" class="no-data text-center">
    There is no category added yet!
  </p>

  <!-- Category list -->

  <table class="table table-bordered" *ngIf="Loading && categories.length > 0">
    <thead class="table-success">
      <tr>
        <th scope="col">Category Code</th>
        <th scope="col">Category Name</th>
        <th scope="col center">Update</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let category of categories;let i = index">
        <th scope="row">{{ category.categoryCode }}</th>
        <td>{{ category.category }}</td>
        <td class="text-center edit-block">
          <span class="edit" [routerLink]="['/edit-category/', category._id]">
            <button type="button" class="btn btn-success btn-sm">Edit</button>
          </span>
          <span class="delete" (click)="removeCategory(category,i)">
            <button type="button" class="btn btn-danger btn-sm">Delete</button>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-between p-2">
    <ngb-pagination
      [collectionSize]="collectionSize"
      [(page)]="page"
      [pageSize]="pageSize"
      (pageChange)="nextCategoryPage()"
    >
    </ngb-pagination>
  </div>
</div>
