<div class="container">
  <!-- No data message -->

  <p *ngIf="Loading && Products.length <= 0" class="no-data text-center">
    There is no product added yet!
  </p>

  <!-- Product list -->

  <table class="table table-bordered" *ngIf="Loading && Products.length > 0">
    <thead class="table-success">
      <tr>
        <th scope="col">Product Code</th>
        <th scope="col">Product Name</th>
        <th scope="col">Category Name</th>
        <th scope="col">Category Code</th>
        <th scope="col">Price</th>
        <th scope="col">Weight</th>

        <th scope="col center">Update</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of Products;let i = index">
        <th scope="row">{{ product.productCode }}</th>
        <td>{{ product.name }}</td>
        <td>{{ product.category.category }}</td>
        <td>{{ product.category.categoryCode }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.weight }}</td>
        <td class="text-center edit-block">
          <span class="edit" [routerLink]="['/edit-product/', product._id]">
            <button type="button" class="btn btn-success btn-sm">Edit</button>
          </span>
          <span class="delete" (click)="removeProduct(product,i)">
            <button type="button" class="btn btn-danger btn-sm">Delete</button>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-between p-2">
    <ngb-pagination
      [collectionSize]="collectionSize"
      [(page)]="page"
      [pageSize]="pageSize"
      (pageChange)="nextProductPage()"
    >
    </ngb-pagination>
  </div>
</div>
