<nav>
  <a routerLinkActive="active" routerLink="/create-category">Add Category</a>
  <br />
  <a routerLinkActive="active" routerLink="/category-list">List Category</a>
  <br />
  <a routerLinkActive="active" routerLink="/create-product">Add Product</a>
  <br />
  <a routerLinkActive="active" routerLink="/product-list">List Product</a>
  <br />
</nav>

<router-outlet></router-outlet>
